{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<div class="parameter">
					<label for="cid">CID</label><br>
					<input
						type="text"
						id="cid"
						name="cid"
						value="{{ cid }}"
						required
					>
				</div>
				<div class="parameter">
					<label for="ccid">CCID</label><br>
					<input
						type="text"
						id="ccid"
						name="ccid"
						value="{{ ccid }}"
						required
					>
				</div>
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if results is none %}
			
				<p>No output yet.<p>
				
			{% elif results == [] %}
			
				<p>No changes found</p>
				
			{% else %} 
			
				{% for result in results %}
				
					{% if result.is_new %}
					
						<p><b>New Job Listing:</b></p>
						<ul>
							<li><p><b>ID:</b> {{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}</p></li>
							<li><p><b>Title:</b> {{ result.new_data["requisitionTitle"] }}</p></li>
							<li><p><b>Post Date:</b> {{ result.new_data["postDate"] }}</p></li>
							<li><p><b>Link:</b> <a href='https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid={{ cid }}&ccId={{ ccid }}&lang=en_US&jobId={{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}' target="_blank">https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid={{ cid }}&ccId={{ ccid }}&lang=en_US&jobId={{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}</a></p></li>
						</ul>
						
					{% elif result.has_changed %}
					
						<p><b>Modified Job Listing:</b></p>
						<ul>
							<li><p><b>ID:</b> {{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}</p></li>
							<li><p><b>Title:</b> {{ result.new_data["requisitionTitle"] }}</p></li>
							<li><p><b>Post Date:</b> {{ result.new_data["postDate"] }}</p></li>
							<li><p><b>Link:</b> <a href='https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid={{ cid }}&ccId={{ ccid }}&lang=en_US&jobId={{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}' target="_blank">https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid={{ cid }}&ccId={{ ccid }}&lang=en_US&jobId={{ result.new_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}</a></p></li>
						</ul>
						
					{% else %}
					
						<p><b>Removed Job Listing:</b></p>
						<ul>
							<li><p><b>ID:</b> {{ result.old_data["customFieldGroup"]["stringFields"][0]["stringValue"] }}</p></li>
							<li><p><b>Title:</b> {{ result.old_data["requisitionTitle"] }}</p></li>
							<li><p><b>Post Date:</b> {{ result.old_data["postDate"] }}</p></li>
						</ul>
						
					{% endif %}
					
				{% endfor %}
				
			{% endif %}
		</div>
	</section>
{% endblock %}