{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<div class="parameter">
					<label for="cid">CID</label><br>
					<input
						type="text"
						id="cid"
						name="cid"
						value=""
						required
					>
				</div>
				<div class="parameter">
					<label for="ccid">CCID</label><br>
					<input
						type="text"
						id="ccid"
						name="ccid"
						value=""
						required
					>
				</div>
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if new_jobs is none and removed_jobs is none %}
			
				<p> No output yet. </p>
			
			{% elif new_jobs == [] and removed_jobs == [] %}
			
				<p>No changes found.</p>
				
			{% elif new_jobs or removed_jobs %}

				{% if new_jobs %}
				
					<p>New Job Listings:</p>
					<ul>
						{% for listing in new_jobs %}
							<li><a href={{ listing["link"] }}>{{ listing["title"] }}</a></li>
						{% endfor %}
					</ul>
					
				{% endif %}
				
				{% if removed_jobs %}
				
					<p>Removed Job Listings:</p>
					<ul>
						{% for listing in removed_jobs %}
							<li>{{ listing["title"] }}</li>
						{% endfor %}
					</ul>
					
				{% endif %}

			{% else %}

				<p>Error.</p>

			{% endif %}
		</div>
	</section>
{% endblock %}