{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if cleared_results is none and framework_results is none %}
			
				<p>No output yet.<p>
				
			{% elif cleared_results == [] and framework_results == [] %}
			
				<p>No changes found.</p>
				
			{% else %} 
			
				{% for result in cleared_results %}
				
					<div class"output-entry">
				
						{% if result.is_new %}
						
							<p><b>New Cleared Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% elif result.is_removed %}
						
							<p><b>Removed Cleared Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.old_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.old_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.old_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.old_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.old_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% else %}
						
							<p><b>Modified Cleared Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% endif %}
						
					</div>
					
				{% endfor %}
				{% for result in framework_results %}
				
					<div class"output-entry">
				
						{% if result.is_new %}
						
							<p><b>New Framework Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% elif result.is_removed %}
						
							<p><b>Removed Framework Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.old_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.old_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.old_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.old_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.old_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% else %}
						
							<p><b>Modified Framework Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["sys_id"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["cmdb_model_category"]["display_value"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["name"]["display_value"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["display_value"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["sys_created_on"]["display_value"] }}</p></li>
							</ul>
							
						{% endif %}
						
					</div>
					
				{% endfor %}
				
			{% endif %}
		</div>
	</section>
{% endblock %}