{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if results is none %}
			
				<p>No output yet.<p>
				
			{% elif results == [] %}
			
				<p>No changes found.</p>
				
			{% else %} 
			
				{% for result in results %}
				
					<div class"output-entry">
				
						{% if result.is_new %}
						
							<p><b>New Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["UXSCore"]["mad_uxscoreid"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["UXSCore"]["mad_coretype"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["UXSCore"]["mad_id"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["mad_id"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["UXSCore"]["createdon"] }}</p></li>
							</ul>
							
						{% elif result.is_removed %}
						
							<p><b>Removed Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.old_data["UXSCore"]["mad_uxscoreid"] }}</p></li>
								<li><p><b>Type:</b> {{ result.old_data["UXSCore"]["mad_coretype"] }}</p></li>
								<li><p><b>Name:</b> {{ result.old_data["UXSCore"]["mad_id"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.old_data["manufacturer"]["mad_id"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.old_data["UXSCore"]["createdon"] }}</p></li>
							</ul>
							
						{% else %}
						
							<p><b>Modified Listing:</b></p>
							<ul>
								<li><p><b>ID:</b> {{ result.new_data["UXSCore"]["mad_uxscoreid"] }}</p></li>
								<li><p><b>Type:</b> {{ result.new_data["UXSCore"]["mad_coretype"] }}</p></li>
								<li><p><b>Name:</b> {{ result.new_data["UXSCore"]["mad_id"] }}</p></li>
								<li><p><b>Manufacturer:</b> {{ result.new_data["manufacturer"]["mad_id"] }}</p></li>
								<li><p><b>Creation Date:</b> {{ result.new_data["UXSCore"]["createdon"] }}</p></li>
								<li><p><b>Modification Date:</b> {{ result.new_data["UXSCore"]["modifiedon"] }}</p></li>
							</ul>
							
						{% endif %}
						
					</div>
					
				{% endfor %}
				
			{% endif %}
		</div>
	</section>
{% endblock %}