{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if results is none %}
			
				<p>No output yet.<p>
				
			{% elif results == [] %}
			
				<p>No changes found.</p>
				
			{% else %} 
			
				{% for result in results %}
					
					<div class"output-entry">
					
						{% if result.is_new %}
							
							<p><b>New Solution:</b></p>
							<ul>
								<li><p><b>Project:</b> {{ result.new_data["project"] }}</p></li>
								<li><p><b>DIU Focus Area:</b> {{ result.new_data["diu_focus_area"] }}</p></li>
								<li><p><b>Company Partner:</b> {{ result.new_data["company_partner"] }}</p></li>
								<li><p><b>Year Completed:</b> {{ result.new_data["year_completed"] }}</p></li>
								<li><p><b>Problem:</b> {{ result.new_data["problem"] }}</p></li>
								<li><p><b>Solution:</b> {{ result.new_data["solution"] }}</p></li>
							</ul>
						
						{% elif result.is_removed %}
						
							<p><b>Removed Pathway:</b></p>
							<ul>
								<li><p><b>Project:</b> {{ result.old_data["project"] }}</p></li>
								<li><p><b>DIU Focus Area:</b> {{ result.old_data["diu_focus_area"] }}</p></li>
								<li><p><b>Company Partner:</b> {{ result.old_data["company_partner"] }}</p></li>
								<li><p><b>Year Completed:</b> {{ result.old_data["year_completed"] }}</p></li>
								<li><p><b>Problem:</b> {{ result.old_data["problem"] }}</p></li>
								<li><p><b>Solution:</b> {{ result.old_data["solution"] }}</p></li>
							</ul>
							
						{% else %}
						
							<p><b>Modified Solution:</b></p>
							<ul>
								<li><p><b>Project:</b> {{ result.new_data["project"] }}</p></li>
								<li><p><b>DIU Focus Area:</b> {{ result.new_data["diu_focus_area"] }}</p></li>
								<li><p><b>Company Partner:</b> {{ result.new_data["company_partner"] }}</p></li>
								<li><p><b>Year Completed:</b> {{ result.new_data["year_completed"] }}</p></li>
								<li><p><b>Problem:</b> {{ result.new_data["problem"] }}</p></li>
								<li><p><b>Solution:</b> {{ result.new_data["solution"] }}</p></li>
							</ul>
							
						{% endif %}
						
					</div>
					
				{% endfor %}
				
			{% endif %}
		</div>
	</section>
{% endblock %}