{% extends "base.html" %}

{% block title %}
	Amon Hen UI - {{ title }}
{% endblock %}

{% block content %}
	<section>
		<div class="section-title">
			<h2>Input Parameters</h2>
		</div>
		<div class="section-content">
			<form method="POST">
				<div class="parameter">
					<label for="start_date">Start Date</label><br>
					<input
						type="date"
						id="start_date"
						name="start_date"
						value="{{ start_date.isoformat()  }}"
					>
				</div>
				<div class="parameter">
					<label for="end_date">End Date</label><br>
					<input
						type="date"
						id="end_date"
						name="end_date"
						value="{{ end_date.isoformat()  }}"
					>
				</div>
				<button type="submit">
					Run
				</button>
			</form>
		</div>
	</section>
	<section>
		<div class="section-title">
			<h2>Output</h2>
		</div>
		<div class="section-content">
			{% if results is none %}
			
				<p>No output yet.</p>
			
			{% elif results == [] %}
			
				<p>No contracts found between {{ start_date.strftime("%B") }} {{ start_date.day }}, {{ start_date.year }} and {{ end_date.strftime("%B") }} {{ end_date.day }}, {{ end_date.year }}.</p>
				
			{% else %}

				{% for date in results %}
				
					<div class="output-entry">
					
						<p><b>{{ start_date.strftime("%B") }} {{ start_date.day }}, {{ start_date.year }}:</b></p>
						<ul>
						
							{% for result in results[date] %}
								
								{% if result.announcement_type == "correction" %}
								
									<li><p><b>{{ result.branch }} Correction</b></p></li>
									
								{% elif result.announcement_type == "update" %}
								
									<li><p><b>{{ result.branch }} Update</b></p></li>
									
								{% elif result.announcement_type == "single_award" %}
									
									<li><p><b>{{ result.branch }} Single-Award Contract:</b></p></li>
									<ul>
										<li><p>{{ result.companies[0] }}<p></li>
									</ul>
									
								{% elif result.announcement_type == "multi_award" %}
								
									<li><p><b>{{ result.branch }} Multi-Award Contract:</b></p></li>
									<ul>
									
										{% for company in result.companies %}
										
											<li><p>{{ company }}<p></li>
										
										{% endfor %}
										
									</ul>
									
								{% endif %}	
							
							{% endfor %}
						
						<ul>
					</div>
					
				{% endfor %}

			{% endif %}
		</div>
	</section>
{% endblock %}
